/****************
    IMPORTS
****************/
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700');

// VARIABLES
$primary: #1e3558e6;
$text-sizes: (xs, sm, base, lg, xl, 2xl, 3xl, 4xl, 5xl);
$radius-sizes: (sm, md, lg, xl);
$base-radius-size: 0.125rem;
$base-text-size: 0.75rem;

/******************
    TYPOGRAPHY
******************/
@each $size in $text-sizes {
    .text-#{$size} {
        font-size: $base-text-size !important;
    }

    $base-text-size: $base-text-size+0.125
}

body * {
    font-family: 'Roboto', sans-serif;
}

/******************
    CUSTOM STYLES
******************/
.check {
    border: solid 0px transparent;
    background: white;

    &-left{
        border-radius: 1rem 0 0 1rem;
    }

    &-right{
        border-radius: 0 1rem 1rem 0;
    }

    &:focus{
        border-color: #80bdff;
        outline: 0;
        box-shadow: none;
    }
}

@each $size in $radius-sizes {
    .rounded-#{$size}{
        border-radius: $base-radius-size !important;
    }
    $base-radius-size: $base-radius-size * 2
}

@mixin transition($element, $time) {
    -webkit-transition: $element $time ease;
    -moz-transition: $element $time ease;
    -o-transition: $element $time ease;
    transition: $element $time ease;
}

.sidebar {
    width: 350px;
    background: white;
    transition: all .25s ease;

    @at-root &-hidden {
        .sidebar {
            margin-left: -350px;
        }
    }

    @at-root &-shown {
        .sidebar {
            margin-left: 0px;
        }
    }

    @at-root &-item {
        @extend .text-xs;
        font-weight: 300;
        padding: .75rem .75rem;

        &.active{
            background: var(--primary);
            color: white !important;

            a {
                color: white;

                &:hover{
                    text-decoration: none;
                    text-transform: none;
                }
            }

            &:hover{
                transform: none;
                font-weight: 300;
                background: var(--primary)
            }
        }

        &:hover {
            // transform: translateX(3px);
            font-weight: bold;
            color: #7f7777;
            @include transition(all, 0.2s);
            background: #c9ced6;
        }

        a {
            color: var(--dark);

            &:hover {
                text-decoration: none
            }
        }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.blur{
    filter: blur(5px)
}

*{
    .table th{
        @extend .text-xs;
    }

    .table td{
        @extend .text-xs;
    }
}

input{
    @extend .text-xs;
}

.font-weight-medium{
    font-weight: 500;
}